@model ESGIForm.Models.Form
<html>
<head>
    <title>TodoManager</title>
    <style>
        .barre {
            text-decoration: line-through;
        }
    </style>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  
</head>
<body>
    <div ng-app="TodoManager">
        <div ng-controller="MainCtrl">

            @* Information *@
            <div>
                Title : <input type="text" ng-model="form.title"  /><br>
                Description : <input type="text" ng-model="form.description"  /><br>
                Date de cloture : <input type="text" ng-model="form.date"  /><br>
            </div>

            @* Ajouter une question *@
            <div>
                Question :
                <input type="text" ng-model="newItem.Title" /><br>
                <input type="hidden" name="Name" ng-model="newItem.Name" ng-init="newItem.Name = Name" /><br>
                <button ng-click="add(newItem)">Ajouter une question</button>
            </div>
            @* Liste des questions *@
            <ul>
                <li ng-repeat="item in todos">
                    <!-- Template Affichage -->
                    <div ng-show="!edit">
                        <input type="checkbox" ng-model="IsFinished" />
                        <span ng-class="{barre : IsFinished}">
                            {{item[$index].Title}}
                        </span>
                        
                        <input type="hidden" ng-model="item[$index].QuestionId" /><br>

                        <button ng-click="edit = !edit">Edit</button>
                    </div>
                    <!-- Template Edition -->
                    <div ng-show="edit">
                        <input type="text" ng-model="item[$index].Title" /><br>
                        <input type="hidden" ng-model="item[$index].QuestionId" /><br>

                        <button ng-click="delete({QuestionId : item[$index].QuestionId, Index : $index});edit = !edit">Delete</button>
                        <button ng-click="save(item[$index]);edit = !edit">Save</button>
                        <button ng-click="tata(item[$index].QuestionId);">tata</button>
                    </div>

                </li>
            </ul>

            @* Close *@
            <div>
                <form action="/form/close" method="post">
                    <input type="hidden" name="guid" value="@Model.FormId" />
                    <button value="close"  type="submit">Fermer</button>
                </form>
            </div>
        </div>

        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>

        <script type="text/javascript">
            var app = angular.module('TodoManager', []);
            app.controller('MainCtrl', function ($scope, $http) {

                $scope.delete = function (itemToDelete) {
                    $http.post('/Form/Delete/', itemToDelete)
                        .success(function (res, a, b, c) {
                            $scope.todos.splice(itemToDelete.Index, 1);
                        });
                };

                $scope.save = function (itemToUpdate) {
                    $http.put('/Form/Edit', itemToUpdate)
                         .success(function (res, a, b, c) {
                         });
                };

                $scope.tata = function (itemToUpdate) {
                    console.log(itemToUpdate)
                };

                $scope.add = function (newItem) {
                    newItem.FormId = "@Model.FormId";
                    $http.post('/Form/Add', newItem)
                         .success(function (res, a, b, c) {
                             $scope.todos.push(res);
                         });
                };

                $scope.close = function (guid) {
                    $http.post('/Form/Close', { 'guid': guid })
                         .success(function (res, a, b, c) {
                         });
                };


                $http.get('/Form/List', {params: {guid: "@Model.FormId"}})
                    .success(function (res, a, b, c) {
                        $scope.todos = res;
                        console.log(res);
                    });
            });

        </script>
</div>
</body>
</html>

