@model ESGIForm.Models.Form

<h2>Le formulaire a été crée. Vous pouvez partager ce formulaire au travers de ce lien</h2>
<a href="http://localhost:60164/@Model.Hash">http://localhost:60164/@Model.Hash</a>
