@model ESGIForm.Models.Form
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/layout.cshtml";

}
<div class="container">
    @if (Model.CloseDate < DateTime.Now)
    {
        <h2>Le formulaire est expiré</h2>
    }else if(@Model.Status != "1"){
        <h2>Le formulaire n'est pas disponible</h2>
    }
    else
    {
        <h2>Merci d'avoir répondu à ce formulaire</h2>
    }
</div>