@{
    ViewBag.Title = "layout";
    
}


<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/global.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
        $(function () {
            $("#CloseDate").datepicker();
        });
    </script>

</head>

<body>
    <header>
        <nav class="navbar navbar-inverse" role="navigation">
            <a class="navbar-brand" href="#">Home</a>
            @if (Session["Username"] != null) { 
                <a class="navbar-brand navbar-right" href="/home/index">Panel</a>
                <a class="navbar-brand navbar-right" href="/home/disonnect">Deconnexion</a>
            }
        </nav>
    </header>
    @RenderBody()
</body>
</html> 