@{
    ViewBag.Title = "layout";
    
}


<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/global.css" rel="stylesheet" />

</head>

<body>
    <header>
        <nav class="navbar navbar-inverse" role="navigation">
            <a class="navbar-brand" href="#">Home</a>
            @if (Session["Username"] != null) { 
                <a class="navbar-brand navbar-right" href="/home/index">Panel</a>
                <a class="navbar-brand navbar-right" href="/home/disonnect">Deconnexion</a>
            }
        </nav>
    </header>
    @RenderBody()
</body>
</html> 