
@{
    ViewBag.Title = "Home";
    

}
<html>
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        window.rootUrl = "@ViewData["guid"]";
        console.log(window.rootUrl);
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(datas);
        
        var datas = $.getJSON("http://localhost:60164/Stat/Data?guid=" + window.rootUrl, function (data) {
            // Get the element with id summary and set the inner text to the result.
            //console.log(data);
            var i = 0;
            var obj = JSON.parse(data);
            //console.log(obj)
            
            for (var k in obj) {
                i++;

                var bar = 'chart_div'.concat(i);
                var gdata = new google.visualization.DataTable();
                gdata.addColumn('string', 'Topping');
                gdata.addColumn('number', 'Slices');
                gdata.addRows([
                              ["oui", obj[k][0]],
                              ["non", obj[k][1]]
                ]);

                var options = {
                    'title': k,
                    'width': 400,
                    'height': 300
                };
                $('#body').append("<div id=" +bar+ "></div>")
                var chart = new google.visualization.PieChart(document.getElementById(bar));
                chart.draw(gdata, options);
            }

        });
        
        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        /*function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
              ['Mushrooms', 3],
              ['Onions', 1],
              ['Olives', 1],
              ['Zucchini', 1],
              ['Pepperoni', 2]
            ]);

            // Set chart options
            var options = {
                'title': 'How Much Pizza I Ate Last Night',
                'width': 400,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart.draw(data, options);
            chart2.draw(data, options);
        }*/
    </script>
</head>

<body id="body">
    <!--Div that will hold the pie chart-->
  
</body>
</html>